extends layout

block content
    p hoiddd
    h1 #{crimes}
    each val in chance
        h2 #{val.chance}% kans
    |<form action="/game/crime" method="post">
    |<input type="submit" value="pleeg misdaad">
    |</form>