extends layout

block content
    h1 Group management
    h3 Groups
    div.table
         table
            thead
                tr
                    th Id
                    th Name
                    th Members
                    th Money

            each item in items
                tr
                    td=item.f_id
                    td=item.name
                    td=item.members
                    td=item.money

    div.groupidform
        | <form action="/game/groupjoin" method="post">
        |<label><h4>Join a group</h4></label></br>
        | Group id: <input type="groupid" name="groupid" placeholder=""></br></br>
        | <button type="submit" name="group" value="groupid" class="btn btn-default">Join group</button>
        |</form>

    div.groupnameform
        | <form action="/game/groupjoin" method="post">
        |<label><h4>Start a group</h4></label></br>
        |Groupname: <input type="groupname" name="groupname" placeholder=""></br></br>
        |<button type="submit" name="group" value="groupname" class="btn btn-default">Start group</button>
        |</form>

    div.groupexitform
        | <form action="/game/groupjoin" method="post">
        | <label><h4>Exit group</h4></label></br>
        | <button type="submit" name="group" value="groupexit" class="btn btn-default">Exit group</button>
        | </form>

