extends layout

block content
  .row

  .col-md-7
    h1 Welkom
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan massa sed eros scelerisque tincidunt. Sed rutrum, urna eu pharetra dignissim, dolor elit euismod neque, a consectetur leo odio nec mi. Donec facilisis lectus odio. Quisque dapibus rutrum sem sit amet pellentesque. Nam vestibulum orci odio, ut ullamcorper augue convallis sit amet. Proin sed orci et ligula placerat viverra sagittis in risus. Fusce dapibus id ex vel molestie. Proin vel sem tortor. Donec egestas, felis pharetra suscipit porttitor, libero tellus imperdiet purus, at aliquet est leo vitae dui. Praesent ultricies quam ut mattis posuere. Sed sapien dui, faucibus ac laoreet ut, malesuada vel nunc. Vivamus at suscipit velit. Vivamus ut elit leo. Donec eu sem vel diam gravida maximus sit amet quis diam. In facilisis est ut tellus aliquam pretium. Nulla eu maximus sapien.

  if username
      h1 Ingelogd als #{username}
      p Klik in de menubalk op een game
      b Jouw data:
      each item in data
          p ID: #{item.id}<br> Username: #{item.name}<br> Money: #{item.money}
      p <a href="/logout"><b> Uitloggen >> </b></a>
  else
      .col-md-5
          | <h1>Login</h1>
          | <form action="/login" method="post">
          | Gebruikersnaam: <input type="username" name="username" placeholder=""><br>
          | Wachtwoord: <input type="password" name="password" placeholder=""><br>
          | <button type="submit" class="btn btn-default">Log in</button>
          | </form> <br>
          p <a href="/register"><b> Registeren >> </b></a>

