extends layout

block content
    h1 Roulette form
    | <form action="/register" method="post">
    |   Type bet: <input type="text" name="bet" placeholder=""><br>
    |   Inzet: <input type="text" name="Inzet" placeholder=""><br>
    |   <button type="submit" class="btn btn-default">Gok</button>
    |   </form>