extends layout

block content
    h1 Winkel
    p Beschikbare wapens:
    table(border='1', width='300')
        tr
            th Naam
            th Prijs
            th Aantal
            th Kopen
        each item in weapons
            tr
                td=item.name
                td $#{item.price}
                td=item.amount
                td
                    a Kopen (ID #{item.id})