extends layout

script(src="https://raw.githubusercontent.com/mckamey/countdownjs/master/countdown.js")

block content
    |<meta http-equiv="refresh" content="1">
    p Hahahah je zit in de gevangenis
    h2 #{database - current} seconde wachten
